{% extends '@SmartCoreEngine/Admin/index.html.twig' %}

{% block nav %}
<div class="span3">
    {{ render(controller('SmartCoreEngineBundle:AdminStructure:showTree')) }}
</div>
{% endblock nav %}

{% block content %}
<div class="span9">

    {{ knp_menu_render('SmartCoreEngineBundle:AdminMenu:structure', {'currentClass': 'active'})  }}


    {% if form %}
    <form action="{{ path('cmf_admin_structure_folder_create') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Сохранить" />
        </div>
    </form>
    {% endif %}



    {% if title %}
        <h3>{{ title }}</h3>
    {% endif %}

    <div class="well well-small">
        {% include '@SmartCoreEngine/Admin/form_folder.html.twig' %}
    </div>
</div>
{% endblock content %}
